@model MVCProject.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Questions"
           asp-action="Create"
           asp-route-courseId="@Model.Id"
           class="btn btn-primary">
            Dodaj pytanie
        </a>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj kurs</a>
        <span>|</span>
    }
    <a asp-action="Index">Powrót</a>
</div>

<hr />

<h3>Pytania</h3>

@if (Model.Questions.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Pytanie</th>
            @if (User.IsInRole("Admin"))
            {
                <th>Poprawna odpowiedź</th>
            }
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var question in Model.Questions)
        {
            <tr>
                <td>@question.Text</td>
                @if (User.IsInRole("Admin"))
                {
                    string answear = question.CorrectAnswer switch
                    {
                        'A' => question.A,
                        'B' => question.B,
                        'C' => question.C,
                        'D' => question.D,
                        _ => ""
                    };
                    <td>@answear</td>

                }
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Questions"
                           asp-action="Edit"
                           asp-route-id="@question.Id">
                            Edytuj
                        </a>
                        <span>|</span>
                        <a asp-controller="Questions"
                           asp-action="Delete"
                           asp-route-id="@question.Id">
                            Usuń
                        </a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Ten kurs nie ma jeszcze żadnych pytań.</p>
}